<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Incidents /</span> View Incident
</h4>

<div class="row">
<div class="col">
<!-- Info -->
<div class="card mb-4">
  <div class="card-body">
    <h6 class="my-3">Details</h6>

    <div class="row mb-2">
      <div class="col-md-3 text-muted">Street:</div>
      <div class="col-md-9">
        <%= @incident.street %>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-3 text-muted">Country:</div>
      <div class="col-md-9">
        <a href="javascript:void(0)" class="text-dark">Canada</a>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-3 text-muted">Languages:</div>
      <div class="col-md-9">
        <a href="javascript:void(0)" class="text-dark">English</a>
      </div>
    </div>

    <h6 class="my-3">Contacts</h6>

    <div class="row mb-2">
      <div class="col-md-3 text-muted">Phone:</div>
      <div class="col-md-9">
        +0 (123) 456 7891
      </div>
    </div>

    <h6 class="my-3">Interests</h6>

    <div class="row mb-2">
      <div class="col-md-3 text-muted">Favorite music:</div>
      <div class="col-md-9">
        <a href="javascript:void(0)" class="text-dark">Rock</a>,
        <a href="javascript:void(0)" class="text-dark">Alternative</a>,
        <a href="javascript:void(0)" class="text-dark">Electro</a>,
        <a href="javascript:void(0)" class="text-dark">Drum &amp; Bass</a>,
        <a href="javascript:void(0)" class="text-dark">Dance</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 text-muted">Favorite movies:</div>
      <div class="col-md-9">
        <a href="javascript:void(0)" class="text-dark">The Green Mile</a>,
        <a href="javascript:void(0)" class="text-dark">Pulp Fiction</a>,
        <a href="javascript:void(0)" class="text-dark">Back to the Future</a>,
        <a href="javascript:void(0)" class="text-dark">WALL·E</a>,
        <a href="javascript:void(0)" class="text-dark">Django Unchained</a>,
        <a href="javascript:void(0)" class="text-dark">The Truman Show</a>,
        <a href="javascript:void(0)" class="text-dark">Home Alone</a>,
        <a href="javascript:void(0)" class="text-dark">Seven Pounds</a>
      </div>
    </div>

  </div>
  <div class="card-footer text-center p-0">
    <div class="row no-gutters row-bordered row-border-light">
      <a href="javascript:void(0)" class="d-flex col flex-column text-dark py-3">
        <div class="font-weight-bold">24</div>
        <div class="text-muted small">posts</div>
      </a>
      <a href="javascript:void(0)" class="d-flex col flex-column text-dark py-3">
        <div class="font-weight-bold">51</div>
        <div class="text-muted small">videos</div>
      </a>
      <a href="javascript:void(0)" class="d-flex col flex-column text-dark py-3">
        <div class="font-weight-bold">215</div>
        <div class="text-muted small">photos</div>
      </a>
    </div>
  </div>
</div>
<!-- / Info -->

</div>
<div class="col-xl-4">

  <!-- Side info -->
  <div class="card mb-4">
    <div class="card-body">
      <a href="javascript:void(0)" class="btn btn-primary btn-round">+&nbsp; Follow</a>
      &nbsp;
      <a href="javascript:void(0)" class="btn icon-btn btn-default md-btn-flat btn-round">
        <span class="ion ion-md-mail"></span>
      </a>
    </div>
    <hr class="border-light m-0">
    <div class="card-body">
      <p class="mb-2">
        <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i> UI/UX Designer</p>
      <p class="mb-2">
        <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i> London, United Kingdom</p>
      <p class="mb-0">
        <i class="ion ion-md-globe ui-w-30 text-center text-lighter"></i>
        <a href="javascript:void(0)" class="text-dark">website.com</a>
      </p>
    </div>
    <hr class="border-light m-0">
    <div class="card-body">
      <a href="javascript:void(0)" class="d-block text-dark mb-2">
        <i class="ion ion-logo-twitter ui-w-30 text-center text-twitter"></i> @nmaxwell
      </a>
      <a href="javascript:void(0)" class="d-block text-dark mb-2">
        <i class="ion ion-logo-facebook ui-w-30 text-center text-facebook"></i> nmaxwell
      </a>
      <a href="javascript:void(0)" class="d-block text-dark mb-0">
        <i class="ion ion-logo-instagram ui-w-30 text-center text-instagram"></i> nmaxwell
      </a>
    </div>
  </div>
  </div>
</div>
</div>
  <!-- / Side info -->
<p>
  <strong>Street:</strong>
  <%= @incident.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @incident.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @incident.zip %>
</p>

<p>
  <strong>Dayofweek:</strong>
  <%= @incident.dayofweek %>
</p>

<p>
  <strong>Timeofday:</strong>
  <%= @incident.timeofday %>
</p>

<p>
  <strong>State:</strong>
  <%= @incident.state %>
</p>

<p>
  <strong>Incidenttype:</strong>
  <%= @incident.incidenttype %>
</p>

<p>
  <strong>Drnum:</strong>
  <%= @incident.drnum %>
</p>

<p>
  <strong>Weatherevent:</strong>
  <%= @incident.weatherevent %>
</p>

<p>
  <strong>Specialevent:</strong>
  <%= @incident.specialevent %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @incident.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @incident.longitude %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @incident.comments %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
